<div class="sub-container">
  <h1>Admin Dashboard</h1>

  <%= link "Add New Video", to: Routes.video_page_path(@conn, :new) %> |
  <%= link "Videos", to: Routes.video_page_path(@conn, :index) %> |
  <%= link "Users", to: Routes.user_page_path(@conn, :index) %>
  
</div>

