<div class="sub-container">
  <%= if @admins == [] do %>
  <p>No admins yet.</p>
  <% else %>
  <table>
    <tbody>
      <%= for admin <- @admins do %>
	  <tr>
	    <td><%= admin.username %></td>
	  </tr>
	  <% end %>
    </tbody>
  </table>
  <% end %>

  <%= link "Add New Video", to: Routes.video_page_path(@conn, :new) %>
</div>

