

<div class="sub-container">
  <br><br>
  <h2 class="center" align="center">
    <strong>HEADING HERE</strong>
  </h2>
  <br>
  <strong>
    <%= link "Register", to: Routes.user_page_path(@conn, :new) %>
  </strong>
  <%= link "Login", to: Routes.session_path(@conn, :new) %>
  <br>
  <br>
</div>

