<div class="sub-container">
  <h1 align="center">New Student</h1>
  <div class="school-nav">
    <%= link "List Students", to: Routes.student_path(@conn, :index) %>
    <%= link "Quiz and Exam", to: Routes.quiz_path(@conn, :index) %>
  </div>
<br>  

<%= render "form.html", Map.put(assigns, :action, Routes.student_path(@conn, :create)) %>

</div>
